div {
  padding: 10px;
}

.box1 {
  background-color: #ffc012;
  width: 100px;
  height: 100px;
  transition: all 1s;
}

.box2 {
  background-color: #231faf;
  width: 100px;
  height: 100px;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  margin-top: 20px;
  transition: all 1s;
}

.box3 {
  background-color: #bec;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
}

.box4 {
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  background-color: #fea;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  font-size: 26px;
}

.box5,
.box6,
.box7 {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  transform: rotateZ(50px);
}

.box-border {
  border: 1px solid;
  width: 100px;
  height: 100px;
  margin: 0;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  padding: 0;
  perspective: 100px;
}
