* {
  margin: 0;
  padding: 0;
}

.transform-box {
  background-color: #f60;
  width: 200px;
  height: 250px;
  margin: 20% auto;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
  animation: play 5s;
}

@keyframes play {
  0% {
    width: 300px;
    height: 350px;
  }
  20% {
    transform: rotateY(0deg);
  }
  45% {
    transform: rotateY(360deg);
  }
  55% {
    height: 250px;
    width: 200px;
    box-shadow: 0px 0px 20px #f4c154;
  }
  75% {
    box-shadow: 0px 0px 55px #f4c154;
  }
  95% {
    box-shadow: 0px 0px 20px #f4c154;
  }
}
